main {
  padding: 30px 0 30px 0;
}
.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ededef;
  padding: 20px 0 20px 0;
}

.item-list_img {
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 20px;
}
.item-list_info {
  padding-top: 20px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.item-list_info div {
  margin-top: 10px;
}
.item-list_info img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-list_info-meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.3);
}
.item-list_info-price {
  font-weight: bold;
}

.write-btn {
  position: fixed;
  bottom: 120px;
  right: 20px;
  background-color: var(--button-primary);
  color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.write-btn:hover {
  background-color: var(--button-hover);
}
