footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 30px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
@keyframes icons-moving {
  0% {
    transform: translateY(0px);
  }
  30% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons_img {
  width: 20px;
}
.footer-icons:hover img {
  animation: 2s icons-moving;
}
.footer-icons_desc {
  margin-top: 5px;
  font-weight: bold;
  transform: scale(0.8);
}
